{% extends "layout.html" %}
{% block main %}
    <main>
        <section class="docs-nav">
            <ul>
                {% set docs = site.get('/documentation') %}
                <li>
                    <a href="{{ docs | url }}">Introduction</a>
                </li>
                {% for item in docs.children %}
                    <li>
                        {% if this._path == item._path %}
                            <a href="{{ item | url }}" class="active"><span class="fa fa-caret-right"></span> {{item.title}}</a>
                        {% else %}
                            <a href="{{ item | url }}"><span class="fa fa-caret-right"></span> {{item.title}}</a>
                        {% endif %}
                        {% if item.children %}
                            <ul>
                                {% for child in item.children %}
                                    <li>
                                        {% if this._path == child._path %}
                                            <a href="{{ child | url }}" class="active"><span class="fa fa-caret-right"></span> {{child.title}}</a>
                                        {% else %}
                                            <a href="{{ child | url }}"><span class="fa fa-caret-right"></span> {{child.title}}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        <div class="row">
            <div class="12-small column">
                <section class="article">
                    {{this.body}}
                </section>
            </div>
        </div>
    </main>
{% endblock %}
