<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/static/foundation.min.css'|url }}">
        <link rel="stylesheet" href="{{ get_pygments_stylesheet() |url }}">
        <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
        <title>{% block title %}{{this.title}}{% endblock %}</title>
        <meta name="description" content="{{this.description}}">
    </head>
    <body>
        <header>
          <div class="top-bar-container" data-sticky-container>
            <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
              <div class="top-bar">
                  <div class="top-bar-center">
                    <nav class="show-for-medium inline">
                      <ul class="menu inline">
                        <li><a href="/">Home</a></li>
                        {% for item in site.get('/').children %}
                            <li>
                                <a href="{{ item | url }}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                      </ul>
                    </nav>
                </div>
                <div class="top-bar-right show-for-small-only">
                  <button class="menu-icon" type="button"></button>
                </div>
              </div>
              <aside class="overlay-menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  {% for item in site.get('/').children %}
                      <li>
                          <a href="{{ item | url }}">{{item.title}}</a>
                      </li>
                  {% endfor %}
                </ul>
              </aside>
            </div>
          </div>
        </header>
        <main>
            {% block main %}
                {{this.body}}
            {% endblock %}
        </main>
        <script
            src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script src="{{ '/static/foundation.min.js'|url }}"></script>
        <script src="{{ '/static/main.js'|url }}"></script>
        <!-- Google Analytics -->
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-81592703-2', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
    </body>
</html>
