<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/static/foundation.min.css'|url }}">
        <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <title>{{this.title}}</title>
    </head>
    <body>
        <header>
          <div class="top-bar-container" data-sticky-container>
            <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
              <div class="top-bar">
                  <div class="top-bar-center">
                    <nav class="show-for-medium inline">
                      <ul class="menu inline">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Guide</a></li>
                        <li><a href="index.html">Showcase</a></li>
                      </ul>
                    </nav>
                </div>
                <div class="top-bar-right show-for-small-only">
                  <button class="menu-icon" type="button"></button>
                </div>
              </div>
              <aside class="overlay-menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="index.html">Guide</a></li>
                <li><a href="index.html">Showcase</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </header>
        <main>
        <section class="masthead">
            <div class="content">
                <p>Build REST applications quickly and without headaches.</p>
                <p>Developed with security, performance and ease-of-use in mind.</p>
                <button class="button">Get started</button>
            </div>
        </section>
        <section style="text-align:center;">
            <p>Efesto is a REST microserver that can deliver an API in minutes. 
                It takes care of authentication, permissions and kickstarts you 
                by providing a simple way to build a data structure and the means 
                to expose it.
            </p>
        </section>
        <section style="text-align:center;">
            <div class="row">
                <div class="small-6 medium-4 column">
                    <span class="fa fa-cubes fa-2x"></span>
                    <p>Written in Python on top of <a href="https://falconframework.org/">Falcon</a> and
                    backed by PostgreSQL</p>
                    <p>It uses JSON+Siren as output format</p>
                </div>
                <div class="small-6 medium-4 column">
                    <span class="fa fa-heart fa-2x"></span>
                    <p>Efesto is an <a href="https://github.com/getefesto/efesto">open source project</a>, released under the terms
                       of the General Public License v.3</p>
                </div>
                <div class="small-6 medium-4 column">
                    <span class="fa fa-terminal fa-2x"></span>
                    <p>Angular-ready with the 
                    <a href="https://github.com/getefesto/efesto-angular">Angular SDK</a></p>
                </div>
            </div>
        </section>
        <section style="text-align:center;">
            <h3>Not sure yet?</h3>
            <div class="row">
                <div class="small-6 medium-4 column">
                    <span class="fa fa-book fa-2x"></span>
                    <p>Extensive <a href="https://efesto.readthedocs.io">documentation</a> 
                    and guides because I know how much of an hassle is getting 
                    things right without them.</p>
                </div>
                <div class="small-6 medium-4 column">
                    <span class="fa fa-wrench fa-2x"></span>
                    <p>Test-driven development and high-quality code. Efesto has
                    a code coverage of 97.1% and a code climate of 3.71 (out of 4) </p>
                </div>
                <div class="small-6 medium-4 column">
                    <span class="fa fa-github fa-2x"></span>
                    <p>Hosted on Github so that you can contribute. 
                    If something went wrong or you have an idea, feel free to 
                    open an issue :)</p>
                </div>
            </div>
        </section>
        </main>
        <script
            src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script src="{{ '/static/foundation.min.js'|url }}"></script>
        <script src="{{ '/static/main.js'|url }}"></script>
    </body>
</html>
