main {
    width: 100%;
    height: 100%;
}


main section:nth-child(2),
main section:nth-child(3) {
    margin: 4rem 0;
}


main section:nth-child(2) p {
    font-size: 1.6rem;
}


a {
    color: #ff4545;
}


a:hover,
a:focus {
    text-decoration: underline;
    color: #ff4545;
}


/*------------General classes--------------------*/
.inline {
  display: inline-block;
}


/*----------- Menu --------------------- */
.top-bar,
.top-bar ul {
  background-color: #ff4545;
}


.top-bar-left,
.top-bar-right {
  width: auto;
}


.top-bar-center {
    text-align:center;
}


.top-bar a:hover,
.top-bar a:focus {
    color: #fefefe;
}


nav {
  vertical-align: middle;
}


nav a {
  color: #fefefe;
}


.menu-icon {
  position: relative;
  font-size: 4rem;
  color: #333;
  transition: all 0.4s ease-in-out;
  right: 10px;
  top: 10px;
}


.menu-icon:hover {
  transition: all 0.4s ease-in-out;
  color: gray;
}


.overlay-menu {
  display: none;
  text-align: center;
  background-color: grey;
  padding: 1.6rem 0;
}


.overlay-menu ul {
  list-style: none;
  margin: 0;
}


.overlay-menu li {
  font-size: 1.5rem;
}


.overlay-menu a {
  display: block;
  color: #fff;
  font-weight: bold;
  height: 5.25rem;
  line-height: 5.25rem;
  text-decoration: none;
}


.overlay-menu a:hover {
  background-color: #3CB371;
}


.overlay-menu.is-open {
  display: block;
}


.is-open {
  top: 0;
  opacity: 1;
}


.sticky {
  width:100%;
}


/* --------------------- masthead -------------------*/
.masthead {
  text-align: center;
  display: table;
  width: 100%;
  height: 95%;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}


.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.masthead p {
  font-size: 1.2rem;
  text-shadow: 0 0 50px #2d282a, 0 0 30px #2d282a, 0 0 2px #2d282a;
  color: #fefefe;
  margin-bottom: 1em;
}


.masthead p:first-child {
    font-size: 2rem;
}


.masthead .button {
    font-size: 1.2rem;
    background-color: #ff4545;
    padding: 1.2rem 3rem;
    margin-bottom: 0;
    text-shadow: none;
    text-decoration: none;
}


.masthead .button:hover {
    background-color: #ff5555;
}
